$main-color: rgb(255,255,255) !default;
$active-color: rgb(235,235,235) !default;

$tiles-url: "../img/Tiles_sprite3_dark.png" !default;
$tile-select-color: gray !default;
$tile-hint-color: lightgreen !default;

