<div>
  <h1>Games</h1>

  <!-- Games table -->
  <div *ngIf="loaded, else elseBlock">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="col-md-4">Created by</th>
          <th class="col-md-2">Game template</th>
          <th class="col-md-2">players</th>
          <th class="col-md-2">State</th>
          <th class="col-md-2">Join game</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of pagedItems">
          <td>{{game.createdBy.name}}</td>
          <td>{{game.gameTemplate.id}}</td>
          <td>{{game.players.length}} / {{game.maxPlayers}}</td>
          <td>{{game.state}}</td>
          <td *ngIf="game.state != 'finished', else elseBlocker"><a>Join</a></td>
          <ng-template #elseBlocker>
            <td>-</td>
          </ng-template>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div class="text-center">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #elseBlock>Loading...</ng-template>
</div>