.makeFull{
    height: 100%;
    background-color: lightblue
}

.filler{
    @include width-height(100%, calc(100% - 60px));
    margin: 40px 0px
}

.gameboard{
    position: relative;
    height: 520px;
    width: 540px;
    left: 50%;
    transform: translate(-50%, 0);
}

